.Headtext {
  width: 80%;
  max-width: 540px;
  margin: 0 auto;
}
.Flag {
  width: 514px;
  margin: 0 auto;
  display: table;
  &-item {
    height: 460px;
    width: 33.33333%;
    display: table-cell; 
    vertical-align: middle;
    position: relative;
    a {
      color: inherit;
      font-family: $titlefont;
      text-align: center;
    }
    &:first-child::after{
      border-top : 34px solid $bgorange; 
    }
    &:nth-child(2)::after{
      border-top : 34px solid $bgred; 
    }
    &:last-child::after{
      border-top : 34px solid $bggray-dark; 
    }
    &::after {
      content : "";
      width: 100%;
      display: block;
      position: absolute;
      top: 100%;
      border-left: 86px solid transparent;
      border-right: 86px solid transparent;
    }
  }
}

.TipoPics {
  padding-bottom: 0px;
  &-int {
    @include span-columns(4);
    &:last-child {
      @include omega();
    }
  }
}

.Seguro {
  &-int {
    @include span-columns(6);
    &:last-child {
      @include omega();
    }
  }
  img {
    margin-top: 40px;
  }
}
.Caracts {
  padding-top: 85px;
  padding-bottom: 190px;
}
.CaractsList {
  &-content {
    margin-left: 75px;
  }
  &-text {
    padding: 0px 5px;
  }
  &-item {
    position: relative;
    @include span-columns(4.5);
    @include push(1);
    margin-top: -80px;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(even) {
      @include push(6);
      .CaractsList-content {
        text-align: right;
        margin-left: 0;
        margin-right: 75px;
      }
      .Numball {
        left: 85%;
      }
    }
    &::after {
      content:"";
      display: inline-block;
      border-left: 20px solid $bgcyan;
      border-top: transparent;
      border-bottom: transparent;
    }
  }
  &-item:first-child .Numball {
    color: $bgcyany; 
  }
  &-item:nth-child(3) .Numball {
    color: $bgcyan-other;
  }
  &-item:nth-child(6) .Numball {
    color: $bgturquoise;
  }
  &-item:nth-child(4) .Numball,
  &-item:nth-child(7) .Numball {
    color: $bgcyan-bright;
  }
  &-item:nth-child(2) .Numball,
  &-item:nth-child(5) .Numball,
  &-item:nth-child(8) .Numball {
    color: $bgorange;
  }
  &-item:last-child .Numball {
    color: $bgcyan-light; 
  }
}
.Numball {
  display: inline-block;
  position: absolute;
  left: -60px;
  top: 30%;
  bottom: 0;
  border-radius: 50%;
  font-size: 90px;
  text-align: center;
  width: 117px;
  height: 117px;
  background: $white;
  font-style: normal;
  line-height: 1.1em;
  font-family: $titlefont;
  border-style: solid;
  border-width: 15px;
  box-shadow: 0px 5px $white,
              5px 0px $white,
              -5px 0px $white,
              0px -5px $white,
              2.5px 2.5px $white,
              2.5px -2.5px $white,
              -2.5px 2.5px $white,
              -2.5px -2.5px $white;
  //box-shadow: 0px 5px #ffffff;
}
.Picture {
  @include span-columns(4);
  @include prefix(1);
  position: absolute;
  bottom: 20%;
  &.lft {
    left: 0;
  }
  &-right {
    float: right;
  }
}
.TipoSeg {
  @include pad(1, 1);
  &-item {
   @include span-columns(5);
   &:last-child {
    @include omega();
   } 
  }
  &-fig {
    text-align: center;
    background: $bgcyan-in;
  }
  &-caption {
    text-align: justify;
    padding: 20px 10px;
    background: $bgcyan-fig;
  }
  &-img {
    padding: 20px 10px;
    height: 239px;
  }
}
.NubesCol { 
  @include span-columns(7);
  @include push(2.5);
  font-size: 30px;
  line-height: .9em;
  p {
    //@include push(1);
    @include pad(1, 1);
    border-radius: 30px 30px 30px 0px;
    padding: 30px 20px;
    font-size: 1em;
    text-align: right;
    position: relative;
    margin-bottom: 60px;
    &:first-child::after {
      content: "";
      background: url(../img/conocer/nubecol1.png) no-repeat;
      background-size: 50%;
      height: image-height("../img/conocer/nubecol1.png");
      width: image-width("../img/conocer/nubecol1.png");
      position: absolute;
      top: 100%;
      left: 0;
    }
    &:nth-child(2)::after {
      content: "";
      background: url(../img/conocer/nubecol2.png) no-repeat right top;
      background-size: 50%;
      height: image-height("../img/conocer/nubecol2.png");
      width: image-width("../img/conocer/nubecol2.png");
      position: absolute;
      top: 100%;
      right: 0;
    }
    &:last-child::after {
      content: "";
      background: url(../img/conocer/nubecol3.png) no-repeat;
      background-size: 50%;
      height: image-height("../img/conocer/nubecol3.png");
      width: image-width("../img/conocer/nubecol3.png");
      position: absolute;
      top: 100%;
      left: 0;
    }

    &:nth-child(even) {
      text-align: left;
      border-radius: 30px 30px 0px 30px;
    }
  }
}
.NubesSides {
  @include span-columns(10);
  @include push(1);
  font-size: 30px;
  line-height: .9em;
  p {
    border-radius: 30px 30px 0px 30px;
    margin-bottom: 60px;
    padding: 30px 20px;
    font-size: 1em;
    text-align: right;
    @include span-columns(6);
    position: relative;
    &:nth-child(2) {
      margin-top: 120px;
    }
    &:first-child::after {
      content: "";
      background: url(../img/conocer/nube1.png) no-repeat top right;
      background-size: 50%;
      height: image-height("../img/conocer/nube1.png");
      width: image-width("../img/conocer/nube1.png");
      position: absolute;
      top: 100%;
      right: 0;
    }
    &:nth-child(2)::after {
      content: "";
      background: url(../img/conocer/nube2.png) no-repeat;
      background-size: 50%;
      height: image-height("../img/conocer/nube2.png");
      width: image-width("../img/conocer/nube2.png");
      position: absolute;
      top: 100%;
      left: 0;
    }
    &:nth-child(3)::after {
      content: "";
      background: url(../img/conocer/nube3.png) no-repeat top right;
      background-size: 50%;
      height: image-height("../img/conocer/nube3.png");
      width: image-width("../img/conocer/nube3.png");
      position: absolute;
      top: 100%;
      right: 0;
    }
    &:nth-child(4)::after {
      content: "";
      background: url(../img/conocer/nube4.png) no-repeat;
      background-size: 50%;
      height: image-height("../img/conocer/nube4.png");
      width: image-width("../img/conocer/nube4.png");
      position: absolute;
      top: 100%;
      left: 0;
    }
    &:nth-child(5)::after {
      content: "";
      background: url(../img/conocer/nube5.png) no-repeat top right;
      background-size: 50%;
      height: image-height("../img/conocer/nube5.png");
      width: image-width("../img/conocer/nube5.png");
      position: absolute;
      top: 100%;
      right: 0;
    }
    &:last-child::after {
      content: "";
      background: url(../img/conocer/nube6.png) no-repeat;
      background-size: 50%;
      height: image-height("../img/conocer/nube6.png");
      width: image-width("../img/conocer/nube6.png");
      position: absolute;
      top: 100%;
      left: 0;
    }
    &:nth-child(even) {
      @include omega();
      text-align: left;
      border-radius: 30px 30px 30px 0px;
    }

  }
}
.bgasegurador {
  background-image : url(../img/conocer/asegurador.png);
  background-repeat: no-repeat;
  background-position: 90% 100%; 
}

.bgasegurado {
  background-image : url(../img/conocer/solicitante.png);
  background-repeat: no-repeat;
  background-position: 20% 100%; 
}

.bginteres {
  background-image : url(../img/conocer/interes.png);
  background-repeat: no-repeat;
  background-position: 80% 100%; 
}

.Promo {
  &-item {
    @include isolate-grid(4,12);
    padding: 10px;
  }
  &-fig {
    text-align: center;
  }
  &-img {
    height: 55px;
    margin-bottom: 10px;
  }
  &-caption {
    text-align: justify;
    strong{
      font-size: 1.2em;
      color: $bgblue;
    }
  }
}
.Zigzag {
  position: relative;
  &-img {
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
  }
}
.Zigzag1, .Zigzag2, .Zigzag3, .Zigzag4, .Zigzag5 {
  display: table-row;
  margin-bottom: 15px;
  //min-height: 150px;
  p {
    display: table-cell;
    width: 50%;
    height: 150px;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    //height: 100%;
  }
}
.Zigzag3, .Zigzag4 {
  p:first-child {
    width: 70%;
    padding-left: 40%;
    padding-right: 5%;
    text-align: right;
  }
  p:last-child {
    width: 30%;
  }
}

.Zigzag4 {
  width: 70%;
  @include omega();
  p:first-child {
    padding-left: 30%;
    width: 60%;
    text-align: center;
    
  }
  p:last-child {
    width: 40%;
  }
}
.Zigzag5 {
  width: 70%;
  @include omega();
  &>p {
    width: 100%;
    padding-left: 50%;
  }
}
.LazoText {
  @include span-columns(6);
  @include push(3);
  background: $bgorange;
  border: 2px solid $bgblue;
  position: relative;
  z-index: 3;
  &::before {
    position: absolute;
    z-index: -1;
    top: -14px;
    left: -26px;
    content: "";
    background: url(../img/conocer/lazoleft.png) no-repeat;
    background-size: 70%;
    height: 50px;
    width: 80px;
  }
  &::after {
    position: absolute;
    z-index: -1;
    top: -14px;
    right: -25px;
    content: "";
    background: url(../img/conocer/lazoright.png) no-repeat right top;
    background-size: 70%;
    height: 50px;
    width: 80px;
  }
}

.Tabla {
  position: relative;
  &-asegurador {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 40%;
  }
}
@media screen and (max-width: 830px) {
  .TipoPics {
    &-int {
      @include span-columns(5);
    }
    &-int:first-child {
      display: none;
    }
    &-int:nth-child(2) {
      @include push(1);
    }
  }
  .Caracts {
    overflow: hidden;
  }
  .CaractsList {
    &-item {
      @include span-columns(10);
      margin-top: 0px;
      &:nth-child(even) {
        margin-top: 10px;
        margin-bottom: 10px;
        @include push(1);
        .CaractsList-content {
          @include span-columns(10);
        }
      }
    }
  }
}
@media screen and (max-width: 710px) {
  .NubesSides {
    p {
      @include span-columns(11);

      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
  .Zigzag {
    &-img {
      left: 15%;
    }
  }
}

@media screen and (max-width: 605px) {
  .TipoPics {
    padding-top: 40px;
  }
}
@media screen and (max-width: 580px) {
  .Flag {
    display: block;
    width: inherit;
    &-item {
      display: block;
      width: 100%;
      height: 120px;
      position: relative;
      a {
        position: absolute;
        vertical-align: middle;
        //height: inherit;
        width: inherit;
        top: 45%;
        &:last-child {
          top: 35%;
        }
      }
      &::after {
        display: none;
      }
    }
  }
  .TipoSeg {
    &-item {
      @include span-columns(12);
    }
  }
  .TipoPics {
    &-int {
      @include span-columns(10);
    }
    &-int:last-child {
      display: none;
    }
  }
  .Seguro {
    &-int {
      @include span-columns(10);
      @include push(1);
      &:last-child {
        display: none;
      }
    }
  }
  .Promo {
    &-item {
      @include isolate-grid(12, 12);
    }
    &-fig {
      width: 80%;
      margin: 0 auto;
    }
  }
  .Zigzag {
    &-img {
      left: 10%;
    }
  }
}

@media screen and (min-width: 1300px) { 
  .Zigzag-img{
    width: 50%;
    left: 27%;
  }
}
@media screen and (min-width: 1040px) { 
  .Zigzag3{
    p:first-child {
      padding-left: 50%;
    }
  }
}
@media screen and (max-width: 510px) {
  .NubesCol { 
    @include span-columns(10);
    @include push(1);
  }
  .Zigzag {
    &1, &2, &3, &4, &5 {
      width: 100%;
      p:first-child, p:last-child {
        //display: table-row;
        width: 50%;
        padding-left: 10%;
        padding-bottom: 10%;
      }
    } 
    &-img {
      display: none;
    }
  }
  .LazoText {
    @include span-columns(10);
    @include push(1);
    //@include pad(1, 1);
  }
}