.bgegipto {
  background: url(../img/contratar/egipto.png) no-repeat bottom right $bgturquoise;
  background-size: cover;
  padding-bottom: 180px;
}

.bgbabilonios {
  background: url(../img/contratar/babilonios.png) no-repeat bottom right $bgblue-low;
  background-size: cover;
  padding-bottom: 180px;
}

.bgtren {
  background: url(../img/contratar/tren.png) no-repeat bottom right $bgblue-low;
  //background-size: cover;
  padding-bottom: 180px;
}

.bgdinero {
  background: url(../img/contratar/dinero.png) no-repeat center left $bgcyan;
  //background-size: cover;
  //padding-bottom: 80px;
}

.brdrwhat {
  @include span-columns(8);
  @include push(2);
  border: 4px solid $white;
  padding: 20px;
}

.Stats {
  margin: 10px auto;
  display: table;
  max-width: 420px;
  width: 80%;
  height: 110px;
  & > * {
    display: table-cell;
    height: inherit;
    width: 100%;
  }
  &-img {
    /*.Stats-caption {
      margin-left: 107px;
    }*/
    width: 124px;
    background: url(../img/contratar/estadistica-lft.jpg) no-repeat left top;
  }
  &:last-child {
    .Stats-img {
      background: url(../img/contratar/estudios-rght.jpg) no-repeat left top;   
      //float: right;
    }
    .Stats-caption {
      border-radius: 54px 0px 0px 54px;
      margin-left: 0px;
      //margin-right: 124px;
      //height: 108px;
    }
  }
  &-img {
    //float: left;
    //margin-top: -2px;
  }
  //clear: both;
  &-caption {
    border-radius: 0px 52px 52px 0px;
    //margin-top: 2px;
    background: $white;
    //position: relative;
    color: $bgblue;
    //height: 105px;
    float: right;
    margin-left: 122px; 
    p {
      //position: absolute;
      //top: 0;
      //bottom: 0;
      //left: 0;
      //right: 0;
      //min-width: 250px;
      //width: 80%;
      //margin-left: auto;
      //margin-right: auto;
      text-align: center;
      width: 86%;
      line-height: 1.3em;
      margin: 15px auto;;
    }
  }
}

@media screen and (max-width: 645px) {
  .pushhlf.nopush-md {
    @include push(0);
    & + .Picture {
      //display: none;
    }
  }
  .bgdinero, .bgasegurado {
    background-image: none;
  }
  .Picture {
    right: 10%;
    //display: none;
    //@include span-columns(12);
    //text-align: center;
    /*&-right {
      clear: both;
    }*/
  }
  .TitleList {
   
   }
  .Stats {
    margin-bottom: 40px;
    &:last-child {
      .Stats-caption {
        border-radius: 52px 52px 0px 0px;
        margin-top: 0px;
        margin-bottom: -26px;
        height: auto;
        p {
          margin-top: 15px;
          margin-bottom: 35px;
        }
      }
      .Stats-img {
        background: url(../img/contratar/estudios-bottom.jpg) no-repeat;
        height: image-height("../img/contratar/estadistica-top.jpg");
      }
    }
    &-caption {
      border-radius: 0px 0px 52px 52px;
      display: block;
      margin-top: -25px;
      p {
        margin-top: 35px;
      }
    }
    &-img {
      background: url(../img/contratar/estadistica-top.jpg) no-repeat;
      height: image-height("../img/contratar/estadistica-top.jpg");
      display: block;
      margin: 0 auto;
      clear: both;
      position : relative;
    }
  }
}

@media screen and (max-width:605px) {
  .hide-md {
    display: none;
  }
  .full-md {
    @include span-columns(10);
    @include push(1);
  }
  .bgbabilonios {
    @include prefix(1);
  }
}