@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
/** Generated @ www.fontreactor.com **/
@font-face {
  font-family: 'BebasNeue';
    src: url('../font/original_BebasNeue.eot?#iefix') format('embedded-opentype'), 
         url('../font/original_BebasNeue.woff') format('woff'),
         url('../font/original_BebasNeue.ttf') format('truetype'),
         url('../font/original_BebasNeue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/** Generated @ www.fontreactor.com **/
@font-face {
  font-family: 'Nymphette';
    src: url('../font/original_Nymphette.eot?#iefix') format('embedded-opentype'), 
         url('../font/original_Nymphette.woff') format('woff'),
         url('../font/original_Nymphette.ttf') format('truetype'),
         url('../font/original_Nymphette.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../font/OpenSans-Regular.eot?') format('eot'),
       url('../font/OpenSans-Regular.woff') format('woff'),
       url('../font/OpenSans-Regular.ttf')  format('truetype'),
       url('../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}