html {

}
nav ul a{
  font-family: 'BebasNeue', arial;
  font-size: 2em;
  font-size: 1.7em;
}

a {
  display: inline-block;
}

p {
  font-family: OpenSans-Regular, sans-serif;
}
.Text {
  font-weight: bold;
  font-size: 16px
  &-16 {
    font-size: 1em;
  }
  &-21 {
    font-size: 1.3125em;
    line-height: 1.2em;
  }
  &-23 {
    font-size: 1.4375em;
    line-height: 1.2em;
  }
  &-56 {
    font-size: 3.5em;
    line-height: 1.2em;
  }
}
.TitleVW {
  font-size: 18px;
  line-height: 1.5em;
  span {
    display: block;
    line-height: .9em;
    text-align: center;
  }
  &-12 {
    font-size: .666666667em;
    line-height: 1.2em;
  }
  &-13 {
    font-size: .722222222em;
    line-height: 1.2em;
  }
  &-14 {
    font-size: .777777778em;
    line-height: 1.2em;
  }
  &-15 {
    font-size: .833333333em;
    line-height: 1.2em;
  }
  &-16 {
    font-size: .888888889em;
    line-height: 1.2em;
  }
  &-18 {
    font-size: 1em;
    line-height: 1em;
  }
  &-21 {
    font-size: 1.166666667em;
    line-height: 1em;
  }
  &-25 {
    font-size: 1.388888889em;
    line-height: 1em;
  }
  &-26 {
    font-size: 1.444444444em;
    line-height: 1em;
  }
  &-27 {
    font-size: 1.5em;
    line-height: 1em;
  }
  &-29 {
    font-size: 1.611111111em;
  }
  &-35 {
    font-size: 1.944444444em;
  }
  &-40 {
    font-size: 2.222222222em;
  }
  &-52 {
    font-size: 2.888888889em;
  }
  &-65 {
    font-size: 3.611111111em;
  }
  &-70 {
    font-size: 3.888888889em;
  }
  &-97 {
    font-size: 5.388888889em;
  }
}
.TitleMain {
  //@include span-columns(7);
  font-size: 50px;
  span {
    display: block;
  }
  &-up {
    font-size: 1em;
  }
  &-down {
    font-size: .94em;
  }
}

.Number {
  color: $dark-blue;
  font-size: 220px;
  font-family: $titlefont;  
}
.TitleList {
  font-size: 40px;
  color: $dark-blue;
  &-head {
    text-transform: uppercase;
    font-size: 1em;
  }
  &-para {
    color: $white;
    font-size: .3em;
    font-weight: bold;
  }
}

.TextPara {
  font-size: 13px;
  font-weight: bold;
  span {
    display: block;
    line-height: 1em;
  }
  &-19 {
    font-size: 1.461538462em;
  }
  &-22 {
    font-size: 1.692307692em;
  }
  &-26 {
    font-size: 2em;
  }
}

.TextSub {
  font-family: $basefont;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  &.riesgo {
    color : $dark-blue;
  }
}

.Content {;
  font-family: $basefont;
  font-weight: bold;
  &-title {
    color: $dark-blue;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    text-transform: uppercase;
    span {
      display: block;
      font-size: .608695652em;
    }
  }
}