.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.fix-height {
  overflow: hidden;
}
.nomrg-vert {
  margin-bottom: 0px;
  margin-top: 0px;
}
/* BACKGROUNDS */
.bgblue-low {
  background: $bgblue-low;
  color: $white;
}
.bgcyan {
  background: $bgcyan;
  color: $white;
}
.bgcyan-light {
  background: $bgcyan-light;
  color: $white;
}
.bgcyan-strong {
  background: $bgcyan-strong;
  color: $white;
}
.bgturquoise {
  background: $bgturquoise;
  color: $white;
}