html {
  overflow-x: hidden;
}
.hideout {
  overflow: hidden;
}
.black {
  color: $black;
}
.betable {
  display: table!important;
  & > * {
    display: table-cell;
    vertical-align: middle;
  }
}
figure{
  margin: 0px;
}
.hauto {
  height: auto!important;
}
.nocntr, .nocntr span {
  text-align: left;
}
.nopos {
  position: static!important;
}
.posrel {
  position: relative;
}
.pushlft {
  @include push(1);
}
.pushhlf {
  @include push(5);
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.fix-height {
  overflow: hidden;
}
.nomrg-vert {
  margin-bottom: 0px;
  margin-top: 0px;
}
.mrgtop {
  margin-top: 80px;
}
.mrgbttm {
  margin-bottom: 180px;
}
.padtop {
  padding-top: 60px;
}
.pads {
  padding: 70px 30px;
}
.padds {
  @include span-columns(12);
  @include pad(1,1);
}
.omega {
  float: right;
}
.cyantext {
  color: $bgcyan-lighty;
}
.pic-center {
  margin: 0 auto;
  display: block;
  float: none!important;
}
.fullhr {
  @include span-columns(10);
  @include push(1);
  margin-top: 50px;
  margin-bottom: 50px;
}
.up {
  margin-top: -60px;
  .Content-para {
    margin-top: 80px;
  }
}

/* COLORS*/
.cyan-bright {
  color: $bgcyan-bright!important;
}
.red-low {
  color: $bgred-low!important;
}
.yellow-low {
  color: $bgyellow-low!important;
}
/* BACKGROUNDS */
.bgblue {
  background: $bgblue;
  color: $white;
}
.bgcyan-other {
  background: $bgcyan-other;
  color: $white;
}
.bgcyan-water {
  background: $bgcyan-water;
  color: $white;
}
.bgcyan-lighty {
  background: $bgcyan-lighty;
  color: $white;
}
.bgblue-low {
  background: $bgblue-low;
  color: $white;
}
.bgblue-ghost {
  background: $bgblue-ghost;
  color: $white;
}
.bgblue-cloud {
  background: $bgblue-cloud;
  color: $white;
}
.bgcyan {
  background: $bgcyan;
  color: $white;
}
.bgcyan-stats {
  background: $bgcyan-stats;
  color: $white;
}
.bgcyan-cloud {
  background: $bgcyan-cloud;
  color: $white;
}
.bgturquoise-cloud {
  background: $bgturquoise-cloud;
  color: $white;
}
.bgcloudcol1 {
  background: $bgcloudcol1;
  color: $white;
}
.bgcloudcol2 {
  background: $bgcloudcol2;
  color: $white;
}
.bgcloudcol3 {
  background: $bgcloudcol3;
  color: $white;
}

.bgcloud1 {
  background: $bgcloud1;
  color: $white;
}
.bgcloud2 {
  background: $bgcloud2;
  color: $white;
}
.bgcloud3 {
  background: $bgcloud3;
  color: $white;
}
.bgcloud4 {
  background: $bgcloud4;
  color: $white;
}
.bgcloud5 {
  background: $bgcloud5;
  color: $white;
}
.bgcloud6 {
  background: $bgcloud6;
  color: $white;
}
.bgcyany {
  background: $bgcyany;
  color: $white;
}
.bgcyanA {
  background: $bgcyanA;
  color: $white;
}
.bgcyanB {
  background: $bgcyanB;
  color: $white;
}
.bgcyan-light {
  background: $bgcyan-light;
  color: $white;
}
.bgcyan-bright {
  background: $bgcyan-bright;
  color: $white;
}
.bgcyan-strong {
  background: $bgcyan-strong;
  color: $white;
}
.bgturquoise {
  background: $bgturquoise;
  color: $white;
}
.bgturquoise-low {
  background: $bgturquoise-low;
  color: $white;
}
.bgred-low {
  background: $bgred-low;
  color: $white;
}
.bgred {
  background: $bgred;
  color: $white;
}
.bgyellow-low {
  background: $bgyellow-low;
  color: $white;
}
.bgorange {
  background: $bgorange;
  color: $white;
}
.bgorange-low {
  background: $bgorange-low;
  color: $white;
}
.bgorange-cloud {
  background: $bgorange-cloud;
  color: $white;
}
.bgwhite {
  background: $bgwhite;
  color: $bgblue;
}

.bggray-dark {
  background: $bggray-dark;
  color: $white;
}

@media screen and (max-width: 605px) {
  .pads {
    padding: 20px 10px;
  }
  /*#Paginador .pagination {
    margin-left: 20%;
  }*/
} 