// COLORS
$white         : #FFFFFF; 
$black         : #000000;
$black-blue    : #293347;
$dark-blue     : #28374C;

// BACKGROUND COLORS
$bgblue-ghost  : rgba(0,0,76,.68);
$bgcyan        : #6DA6BC;
$bgcyan-in : #087EBF;
$bgcyan-fig: #0B99D8;
$bgcyan-other  : #648CB0;
$bgcyan-bright : #5187C6; 
$bgcyan-strong : #589999;
$bgcyan-water  : #98D1FC;
$bgcyan-lighty : #71C5D0;
$bgcyan-light  : #7FB9D3;
$bgcyany       : #7AADD3;
$bgcyan-stats  : #109a9c;
$bgcyan-cloud  : #7AABC4;
$bgblue-low    : #4D5F8A;
$bgblue-cloud  : #4D5069;
$bgblue        : #06396D;
$bggray        : #EFECDA;
$bggray-dark   : #4E4E4E;  
$bgturquoise   : #589999;
$bgturquoise-cloud: #5DA39A;
$bgturquoise-low:#70BA9E;
$bgred-low     : #C7544A;
$bgred         : #C7512E;
$bgyellow-low  : #D1AF59;
$bgorange      : #E58F25;
$bgorange-cloud: #EA9357;
$bgorange-low  : #E4BA75;
$bgwhite       : #F1F2F3;
$bgcloudcol3 : #f9ae40;
$bgcloudcol2 : #0ba59b;
$bgcloudcol1 : #4a4f6a;
$bgcloud6: #f3bb71;
$bgcloud5: #f9ae40;
$bgcloud4: #0ba59b;
$bgcloud3: #5eadc6;
$bgcloud2: #ff9452;
$bgcloud1: #4a4f6a;
$bgcyanA : #8AC4DB;
$bgcyanB : #7AABC4;

$titlefont: BebasNeue;
$basefont : OpenSans-Regular;
// Grid System
$total-columns  : 12;
$column-width   : 75px;
$gutter-width   : 3.75px;
$grid-padding   : 0;//$gutter-width;
//$container-width: 945px;
$container-style: magic;
$show-grid-backgrounds  : false;

@import 'susyone';