.Restricciones, .QuestionList {
  &-item {
    i {
      @extend .hide-text;
      display: inline-block;

    }
  }
}


.TextHead {
  @extend .nomrg-vert;
  font-size: 17px;
  min-height: 150px;
  //padding-bottom: 45px;
  position: relative;
  font-weight: bold;
  &-md {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    position: absolute;
    bottom: 10%;
    strong {
      font-size: 1.133333333em;
      font-weight: inherit;
    }
  }
}

.QuestionList {
  @extend .nomrg-vert;
  padding: 40px 0px;
  /*div {
    margin: 40px 0px;
  }*/
  & > div:first-child {
    border-right : 3px dashed $white;
  }
  & > div:last-child {
    margin-top: 70px;
  }
  &-item {
    //box-sizing: border-box;
    padding: 0px 8px;
    margin-top: 40px;
    margin-bottom: 12px;
    &:first-child {
      margin-top: 0px;
    }
    a {
      @extend .fix-height;
      display: block;
      position: relative;
      top: 15px;
    }
    h3 {
      color: $white;
      margin-left: 87px;
      background: url('../img/neonline-lrg.png') right bottom no-repeat; 
      height: 78px;
      text-indent: 10px;
      span {
        display: block;
      }
    }
  }
  i {
    float : left;
  }
}
.Riesgo {
  padding: 64px 0px 36px;
}
.Restricts {
  padding: 90px 0px 105px;
}
.Restricciones {
  &-icon {
    background: $bggray;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 20px;
    text-align: center;
    margin-top: -20px;
    i {
      position: absolute;
      bottom: 45px;
      left: 20px;
    }
  }
  &-item {
    @include span-columns(10);
    @include push(1);
    margin-bottom: 35px;
    position: relative;
    font-size: 14px;
    &:first-child p{
      background: $bgcyan-bright;
      font-size: .785714286em;
      &::before {
        background: darken($bgcyan-bright, 20%); 
      }
    }
    &:nth-child(2) p{
      background: $bgturquoise-low;
      &::before {
        background: darken($bgturquoise-low, 20%); 
      }
    }
    &:nth-child(3) p{
      background: $bgred-low;
      &::before {
        background: darken($bgred-low, 20%); 
      }
    }
    &:last-child p{
      background: $bgyellow-low;
      font-size: .928571429em;
      &::before {
        background: darken($bgyellow-low, 20%); 
      }
    }
  }
  &-icon {
    display: none;
    //position: relative;
    &::before {
      content: ' ';
      display: block;
      width: 7px;
      height: 14px;
      border-top: 14px solid transparent;
      border-right: 7px solid $bggray;
      border-bottom: 14px solid transparent;
      border-left: 7px solid transparent;
      margin-left: -14px;
      margin-top: 46px;
      //position: absolute;
      //top: 0;
      //bottom: 0;
    }
  }
  p {
    @include prefix(1);
    @include suffix(1);
    font-size: 1em;
    font-weight: bold;
    min-height: 120px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    &::before {
      @include transform( skewY(65deg));
      @include apply-origin(top left, false);
      content: " ";
      display: none;
      height: auto; 
      margin-left: -20px;
      position: absolute;
      top: -20px;
      bottom: 20px;
      left: 10px;
    }
  }
}

/* Media Queries */
@media screen and (min-width: 1190px) {
  h3.TitleVW {
    height: 77px;
  }
}
@media screen and (max-width: 975px) {
  h3.TitleVW {
    height: 79px;
  }
  .Riesgo {
    padding: 20px 0px 10px;
  }
}
@media screen and (max-width: 715px) {
  .QuestionList {
    padding-top: 0px;
    & > div:first-child {
      border: none;
    }
    &-item {
      @include span-columns(10);
      margin: 10px 0px;
      &:nth-child(even) {
        @include omega();
      }
    }
  }
}
@media screen and (min-width: 606px) {
  .Restricciones {
    &-icon {
      width: 80px;
      float: left;
      display: inline-block;
    }
    p {
      display: block;
      margin-left: 90px;
      &::before {
        display: block;
        width: 10px;    
      }
    }
  }
}
@media screen and (max-width: 605px) {
  .Restricts {
    padding: 30px 0px 10px;
  }
}
@media screen and (max-width: 480px) {
  .TextHead {
    position: static;
    height: auto;
    &-md {
      @include span-columns(10);
      @include prefix(1);
      position: inherit;
    }
  }
}
@media screen and (max-width: 425px) {
  .QuestionList {
    &-item {
      @include span-columns(12);
    }
  }
}